body {
  font-family: "Montserrat", sans-serif;
}

@mixin size($height, $width) {
  height: $height;
  width: $width;
}

.hero {
  height: 700px;
  background: {
    image: url("../img/hero-img.png");
    size: cover;
    position: center;
    repeat: no-repeat;
  }
  color: #ffffff;
  padding-top: 40px;

  &__header {
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    font-weight: bold;
    font-size: 20px;
  }

  &__outline {
    @include size(36px, 90px);
    border: 1px solid #ffffff;
  }

  &__heading {
    font: {
      weight: bold;
      size: 52;
    }
    width: 470px;
    margin: 153px auto 28px;
  }

  &__second-heading {
    font: {
      family: "Roboto", sans-serif;
      size: 20px;
      weight: 300;
    }
    margin-bottom: 33px;
  }

  &__main-button {
    @include size(40px, 230px);
    font: {
      weight: bold;
      size: 14px;
    }
    background-color: #ff4e50;
    margin: 0 auto;
  }
}

.about {
  padding: 89px 0 95px;
  width: 65%;
  margin: 0 auto;

  &__heading {
    font: {
      weight: bold;
      size: 26px;
    }
    margin-bottom: 35px;
  }

  &__card {
    height: 400px;
    margin: 0 10px;
    background: {
      image: url("../img/about-img-1.png");
      size: cover;
      position: center;
      repeat: no-repeat;
    }
    color: #ffffff;

    &__button {
      @include size(20px, 70px);
      font: {
        weight: 400;
        size: 10px;
      }
      background: #ff4e50;
      padding: 0;
      line-height: 20px;
      margin-bottom: 15px;
    }

    &__heading {
      font: {
        size: 24px;
        weight: bold;
      }
    }

    &__text {
      font: {
        family: "Roboto", sans-serif;
        size: 14px;
        weight: 300;
      }
    }
  }

  &__card.card-2 {
    background-image: url("../img/about-img-2.png");
  }

  &__card.card-3 {
    background-image: url("../img/about-img-3.png");
  }
}
